/* COLOR PALETTE */
:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

/* box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* delete default margins */
body, h1, h2, h3, p {
    margin: 0;
}

/* inherit font */
input, button {
    font: inherit;
}
/* set body defaults */
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: url(images/bg-intro-mobile.png), var(--red);
}

section {
    padding: 2rem;
}

.description {
    text-align: center;
}

.description p {
    margin-top: 1rem;
}

.trial {
    background: var(--blue);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

form {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

input {
    width: 100%;
    margin: .5rem 0;
    padding: .8rem;
    border: 1px solid var(--grayish-blue);
    border-radius: .25rem;
}

input[type=submit] {
    color: white;
    background: var(--green);
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    padding: 1rem;
}

/* attribution */
.attribution { 
    font-size: 11px; text-align: center; 
    margin: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* DESKTOP */
@media (min-width: 62.5rem) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .description {
        grid-column: 1/2;
    }

    .form {
        grid-column: 2/3;
    }
}